@import '../../node_modules/open-color/open-color';
@import '../../node_modules/include-media/dist/include-media';

$red: #fa5252;

@mixin square($size) {
    $calculated: 32px * $size;
    width: $calculated;
    height: $calculated;
}